/*
* UNDO HTML DEFAULT STYLES
*/
.jsool, .jsool * {
	font: normal normal normal 12px Verdana;
	background: transparent;
	border: 0;
	color: #000000;
	margin: 0;
	list-style: none;
	padding: 0;
	text-decoration: none;
	line-height: 12px;
	min-width: 0px;
	min-height: 0px;
	border-width: 0px;
	border-spacing: 0px;
	border-style: outset;
	border-collapse: collapse;
	
}

canvas.flux-proxy{
	margin: 0px;
	position: absolute;
	top: 0px;
	left: 0px;
}

/*
btn = button
bor = border
l = left
r = right
t = top
b = bottom

*/
.wgt-btn{
	background-color:#DFEAF8;
	display: inline-block;
	margin: 2px;
}

.wgt-btn button{
	height: 16px;
}

.wgt-btn-bor-t{
	height: 3px;
	background-image: url(../images/bor-t-b.png);
	background-position: 0px 0px;
}

.wgt-btn-bor-t-r{
	width: 3px;
	height: 3px;
	background-image: url(../images/bor-corners.png);
	background-position: 3px 0px;
}

.wgt-btn-bor-r{
	width: 3px;
	background-image: url(../images/bor-l-r.png);
	background-position: right;
}

.wgt-btn-bor-b-r{
	width: 3px;
	height: 3px;
	background-image: url(../images/bor-corners.png);
	background-position: 3px 3px;
}

.wgt-btn-bor-b{
	height: 3px;
	background-image: url(../images/bor-t-b.png);
	background-position: 0px 3px;
}

.wgt-btn-bor-b-l{
	height: 3px;
	width: 3px;
	background-image: url(../images/bor-corners.png);
	background-position: 0px 3px;
}

.wgt-btn-bor-l{
	width: 3px;
	background-image: url(../images/bor-l-r.png);
	background-position: left;
}

.wgt-btn-bor-t-l{
	height: 3px;
	width: 3px;
	background-image: url(../images/bor-corners.png);
	background-position: 0px 0px;
}

.wgt-btn button:hover{
	color: #445ABD;
}