/*
* UNDO HTML DEFAULT STYLES
*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var {font-style:normal;font-weight:normal;}ol,ul{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;}

/*
JSOOL
*/

.jsool * {
	font-family: Verdana, Arial;
	font-size: 12px;
	line-height: 12px;
	font-weight: 100;
}

img,th, .no-select{
	-khtml-user-select: none;
}


canvas.js{
	margin: 0px;
	position: absolute;
	top: 0px;
	left: 0px;
}
/*
BUTTONS
*/
input[type=button].js-btn,
input[type=submit].js-btn,
input[type=reset].js-btn,
button.js-btn,
a.js-btn{
	min-width: 70px;
	line-height: 16px;
	border-radius: 4px;
	
	background-color: #477AC3;     
	
	border: 1px solid #3267B8;
	cursor: pointer;
	display: inline-block;
	padding: 4px 5px;
	margin: 2px 5px;
	
	text-decoration: none;
	color: #EEE;
	text-align: center;	

	-moz-user-select: none;
}

a.js-btn{
	min-width: 58px;
}


input[type=button].js-btn:hover,
input[type=submit].js-btn:hover,
input[type=reset].js-btn:hover,
button.js-btn:hover,
a.js-btn:hover{
	background-color: #5281C8;
}

/*
TEXT INPUT
*/

input[type=text].js-inp,
input[type=password].js-inp{
	min-width: 220px;
	padding: 4px 5px;
	margin: 2px 5px;
	
	border: 1px solid #888;
	background-image: url('../images/input-bg.png');
	border-radius: 4px;        
	
	color: #222D49;
}

.opera input[type=text].js-inp,
.opera input[type=password].js-inp{
	background-image: url('../images/input-bg.png');
	background-repeat: repeat-x;
}

/*
DROP DOWN
*/
span.js-dd{
	width:232px;
	display:inline-block;
	margin: 2px 5px;
}
input[type=text].js-dd{
	padding: 4px 5px;
	margin: 0;
	width:200px;
	
	border: 1px solid #888;
	background-image: url('../images/input-bg.png');
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	
	color: #222D49;
}

input[type=button].js-dd{
	width: 20px;
	line-height: 16px;

	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	
	background-color: #477AC3;     
	
	border: 1px solid #3267B8;
	cursor: pointer;
	display: inline-block;
	padding: 3px 5px 5px 5px;
	margin: 0;
	
	text-decoration: none;
	color: #EEE;
	text-align: center;

	-khtml-user-select: none;
	border-left:none;
}

/*
DIALOG
*/
div.js-dialog{
	position:absolute;
	border-radius: 4px;
	background-color: white;
	border: 1px solid #888;
}

div.js-dialog h1{
	
	border-color: #3267B8;
	background-color: #477AC3;
	height: 16px;
	line-height:16px;

	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
    padding: 3px 5px 2px 5px;
    color: #EEE;
}