/*
* UNDO HTML DEFAULT STYLES
*/
.juif, .juif * {
	font: normal normal normal 12px Verdana;
	background: transparent;
	border: 0;
	color: #000000;
	margin: 0;
	list-style: none;
	padding: 0;
	text-decoration: none;
	line-height: 12px;
	min-width: 0px;
	min-height: 0px;
	border-width: 0px;
	border-spacing: 0px;
	border-style: outset;
	border-collapse: collapse;
	
}

canvas.flux-proxy{
	margin: 0px;
	position: absolute;
	top: 0px;
	left: 0px;
}

/*
btn = button
bor = border
con = container
l = left
r = right
t = top
b = bottom

*/

.bor-t{
	background-image: url(../images/bor-t-b.png);
	background-position: 0px 0px;
}

.bor-t-r{
	width: 3px;
	height: 3px;
	background-image: url(../images/bor-corners.png);
	background-position: 3px 0px;
}

.bor-r{
	width: 3px;
	background-image: url(../images/bor-l-r.png);
	background-position: right;
}

.bor-b-r{
	width: 3px;
	height: 3px;
	background-image: url(../images/bor-corners.png);
	background-position: 3px 3px;
}

.bor-b{
	height: 3px;
	background-image: url(../images/bor-t-b.png);
	background-position: 0px 3px;
}

.bor-b-l{
	height: 3px;
	width: 3px;
	background-image: url(../images/bor-corners.png);
	background-position: 0px 3px;
}

.bor-l{
	width: 3px;
	background-image: url(../images/bor-l-r.png);
	background-position: left;
}

.bor-t-l{
	height: 3px;
	width: 3px;
	background-image: url(../images/bor-corners.png);
	background-position: 0px 0px;
}

.juif-btn{
	background-color:#DFEAF8;
	display: inline-block;
	margin: 2px;
	width: 150px;
}

.juif-btn button{
	height: 16px;
	color: #000000;
}

.juif-btn button:hover{
	color: #445ABD;
}

.juif-wrapper{
	border: solid 1px #C5CDE2;
	display: inline-block;
}

.juif-field.empty{
	color: #555555;
}

.juif-text-field input{
	height: 20px;
	line-height: 16px;
	vertical-align: middle;
	padding: 2px 3px 0px 3px;
	width: 100%;
	background-color: transparent;
	color: inherit;
}

.juif-no-select , .juif-no-select * {
	-moz-user-select: none;
}

.juif-trigger {
	height: 20px;
	width: 16px;
	position:absolute;
	background-image: url(../images/trigger.png);
	background-position: 0 0;
	cursor: pointer;
}

.juif-trigger:hover {
	height: 20px;
	width: 16px;
	position:absolute;
	background-image: url(../images/trigger.png);
	background-position: 16px 0;
}

.juif-combo-list {
	position: absolute;
	border: solid 1px #C5CDE2;
	height: 100px;
	background-color: #FFFFFF;
	overflow: auto;
}