/*
* UNDO HTML DEFAULT STYLES
*/
*, a, a:link, a:visited, a:hover, a:active {
	font: normal normal normal 12px Verdana;
	background: transparent;
	border: 0;
	color: #000000;
	margin: 0;
	list-style: none;
	padding: 0;
	text-decoration: none;
	line-height: 12px;
	min-width: 0px;
	min-height: 0px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* The button style must be set as the IE explorer shows. *
** * * * * * * * * * * * * * * * * * * * * * * * * * * * */

canvas.flux-proxy{
	margin: 0px;
	position: absolute;
	top: 0px;
	left: 0px;
}