/*
* UNDO HTML DEFAULT STYLES
*/
*, a, a:link, a:visited, a:hover, a:active, button {
	font: normal normal normal 12px Verdana;
	background: transparent;
	border: 0;
	color: #000000;
	margin: 0;
	list-style: none;
	padding: 0;
	text-decoration: none;
	line-height: 12px;
	min-width: 0px;
	min-height: 0px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* The button style must be set as the IE explorer shows. *
** * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.wgt-button{
	background-color: #F2F2ED;
	border: solid 1px #000000;
	padding: 0px 22px 1px 22px;
	margin: 2px;
}

.wgt-button:active{
	background-color: #E2E1D9 !important;
}

.wgt-button:hover{
	/*border: solid 1px #F8B330;*/
	background-color: #F7F7F5;
}

.ie .wgt-button{padding: 0px;}
.opera .wgt-button{padding: 1px 25px 4px 25px;}
.ff .wgt-button{-moz-border-radius: 4px;}
.wk .wgt-button{-webkit-border-radius: 4px;}